{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% get_media_prefix as MEDIA_PREFIX %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}	
<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ LANGUAGE_CODE }}"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />

	<title>{% block title %}{% trans "DavidVU :: Desarrollo Web Freelance HTML5, CSS3, Wordpress, dJango" %}{% endblock %}</title>
	
	{% trans "Davidvu.co es mi portafolio personal sobre desarrollo y programación web, acá puedes contactarme para realizar desarrollos freelance tanto móviles como de escritorio." as description %}
	
	<meta name="description" content="{% block description %}{{ description }}{% endblock %}">
	<meta name="author" content="Davidvu | david@davidvu.co">

	<!-- Included CSS Files -->
	<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/app.css">

	<script src="{{ STATIC_PREFIX }}js/foundation/modernizr.foundation.js"></script>
	
	{% block extrahead %}
	{% endblock %}

	<link href='http://fonts.googleapis.com/css?family=Maven+Pro:500,700|Amaranth' rel='stylesheet' type='text/css'>
	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	
	{% include "website/header.html" %}
	  
	  
	  <!-- First Band (Slider) -->
	  <!-- The Orbit slider is initialized at the bottom of the page by calling .orbit() on #slider -->
	  <section class="hide-for-small">
	  	<article>  
	  		<div class="row">
	    		<div class="twelve columns">
	    			<h1>{% trans "Últimos desarrollos" %}</h1>
		      		<div id="slider">
	    	    		<img src="{{ STATIC_PREFIX }}images/davidvu_django_responsive_slide.jpg" alt="Portafolio David Velásquez en dJango - Responsive" />
		        		<img src="{{ STATIC_PREFIX }}images/hana_wordpress_slide.jpg" alt="Sitio web Hana Salud y Bienestar en Wordpress - Responsive" />
	        			<img src="{{ STATIC_PREFIX }}images/rokalflexpilates_wordpress_slide.jpg" alt="Sitio web rokalflex pilates en Wordpress" />
			       		<img src="{{ STATIC_PREFIX }}images/bemark_wordpress_slide.jpg" alt="Sitio web Be Mark en Wordpress" />
	      			</div>
	    		</div>
	  		</div>
	  	</article>
	  </section>
	  
	  <section>
	  	<article>
	  		<div class="row frase">
		  		<div class="twelve columns">
		  			<h1>{% trans "Me especializo  en el modelado" %} <span>3D</span> {% trans "y en el desarrollo profesional de sitios web con" %} <span>HTML5</span>, <span>CSS3</span>, <span>dJango</span>, <span>Wordpress</span>, <span>CakePHP</span>, <span>Responsive</span>.</h1>
	  			</div>
	  		</div>
	  	</article>
	  </section>
	  
	  <!-- Three-up Content Blocks -->
	  
	  <section>
	  <div class="row">
	  	
	  	<article>
	    <div class="four columns">
	      <h4>{% trans "Lo que hago" %}</h4>
	      <p>
	      	{% trans "Soy" %} <strong>{% trans "desarrollador web" %}</strong> {% trans "y" %} <strong>{% trans "artista 3D" %}</strong> {% trans "freelance que hace uso de herramientas y librerias de código abierto" %},
	      	{% trans "para crear" %} <strong>{% trans "aplicaciones" %}</strong> {% trans "y" %} <strong>{% trans "sitios web" %}</strong> {% trans "que cumplan estándares, fáciles de actualizar y optimizados para los buscadores" %} <stron>(SEO)</strong>.
	      	
	      </p>
	      
	    </div>
	    </article>
	    
	    <article>
	    <div class="four columns">
	      <h4>{% trans "Clientes" %}</h4>
	      <p>
	      	{% trans "Mis clientes son agencias de publicidad o empresas independientes que ya cuentan con el diseño de un" %} <strong>{% trans "sitio web" %}</strong>
	      	{% trans "y necesitan volverlo completamente funcional" %}.
	      </p>
	    </div>
	    </article>
	    
	    <article>
	    <div class="four columns">
	    	<h4>Tweets @zeroblend</h4>
	    	{% block twitter %}
		    {% endblock %}
	    </div>
	    </article>
	    
	  </div>
	  </section>
	  
	  
	  <!-- Call to Action Panel -->
	  <section>
	  <div class="row">
	    <div class="twelve columns">
	      
	      <article>
	      <div class="panel">
	        <h4>{% trans "Contáctame" %}</h4>
	            
	        <div class="row">
	          <div class="nine columns">
	            <p>{% trans "Un correo electrónico es la forma más fácil y rápida de contactarme, escríbeme y así podremos trabajar juntos. Un saludo!" %}</p>
	          </div>
	          <div class="three columns">
	            <a href="mailto:david@davidvu.co" class="radius button right">{% trans "Escribir" %}</a>
	          </div>
	        </div>
	      </div>
	      </article>
	      
	    </div>
	  </div>
	  </section>
	  
	  {% include "website/footer.html" %}

</body>
</html>