{% load i18n %}	
	<!-- Footer -->
	  <div id="footer-container">
		<section>
	  	  <div class="row">
				<article>
	  	  		<div class="four columns">
	  	  			<h4>{% trans "Acerca de" %}</h4>
	  	  			<p>
	  	  				{% blocktrans %}Desarrollador web, apasionado por el modelado y la animación 3D, fiel creyente y usuario del software libre.
	  	  				Recientemente enfocado en el desarrollo móvil.{% endblocktrans %}
						<br />
	  	  				{% trans "Actualmente estudio el desarrollo de aplicaciones en Java para Android" %}...
	  	  				<a href="/pagina/acerca-de">{% trans "Continuar" %}</a>
	  	  			</p>
	  	  		</div>
				</article>

	
				<article>
	  	  		<div class="four columns">
	  	  			<h4>{% trans "Servicios" %}</h4>
	  	  			<p>
	  	  				<span>HTML5</span> / CSS3 / <span>PHP</span> / Python / <span>Wordpress</span> / dJango / <span>CakePHP</span> / SEO / <span>Responsive</span> /
	  	  				{% trans "Desarrollo web móvil" %} / <span>{% trans "MySQL" %}</span>
	  	  				<br />
	  	  				<span>{% trans "Aplicaciones web" %}</span> /
	  	  				{% trans "Aplicaciones móviles" %} /
	  	  				<span>{% trans "Tienda en línea" %}</span> / 3D
	  	  			</p>
	  	  		</div>
				</article>

				<article>
	  	  		<div class="four columns">
	  	  			<h4>{% trans "Enlaces de interés" %}</h4>
				      	<ul class="link-list">
				      		<li><a href="http://blenderes.com" target="_blank">BlenderEs</a></li>
				      		<li><a href="http://www.djangoproject.com/" target="_blank">dJango</a></li>
				      		<li><a href="http://cakephp.org" target="_blank">CakePHP</a></li>
				      		<li><a href="http://wordpress.org" target="_blank">WordPress</a></li>
				      		<li><a href="http://blender.org" target="_blank">Blender</a></li>
				      		<li><a href="http://foundation.zurb.com/" target="_blank">Foundation</a></li>
				      	</ul>
	  	  		</div>
				</article>

			</section>

		  <footer class="row">
		    <div class="twelve columns">
		      <div class="row">
		        <div class="six columns">
		          <p>&copy; Copyright 2013 <b>David Velásquez</b>.</p>
		        </div>
		        <div class="six columns">
		          <ul class="link-list right">
		            <li><a href="{% url portfolio-index %}">{% trans "Portafolio" %}</a></li>
		            <li><a href="{% url page-detail 'acerca-de' %}">{% trans "Acerca de" %}</a></li>
		            <li><a href="https://github.com/sliker" target="_blank">Github</a></li>
		            <li><a href="{% url page-detail 'contacto' %}">{% trans "Contacto" %}</a></li>
		          </ul>
		        </div>
		      </div>
		    </div> 
		  </footer>
	  </div>
		
	
	<!-- Included JS Files (Uncompressed) -->
	<script src="{{ STATIC_PREFIX }}javascripts/foundation/jquery.js"></script>
	
	<script src="{{ STATIC_PREFIX }}javascripts/foundation/jquery.foundation.tooltips.js"></script>
	
	<script src="{{ STATIC_PREFIX }}javascripts/foundation/jquery.foundation.buttons.js"></script>
	
	<script src="{{ STATIC_PREFIX }}javascripts/foundation/jquery.foundation.mediaQueryToggle.js"></script>
	
	<script src="{{ STATIC_PREFIX }}javascripts/foundation/jquery.foundation.forms.js"></script>
	
	<script src="{{ STATIC_PREFIX }}javascripts/foundation/jquery.foundation.tabs.js"></script>
	
	<script src="{{ STATIC_PREFIX }}javascripts/foundation/jquery.placeholder.js"></script>
	
	<script src="{{ STATIC_PREFIX }}javascripts/foundation/jquery.foundation.navigation.js"></script>
	
	<script src="{{ STATIC_PREFIX }}javascripts/foundation/jquery.foundation.accordion.js"></script>
	
	<script src="{{ STATIC_PREFIX }}javascripts/foundation/jquery.foundation.orbit.js"></script>
	
	<script src="{{ STATIC_PREFIX }}javascripts/foundation/jquery.foundation.reveal.js"></script>
	
	<script src="{{ STATIC_PREFIX }}javascripts/foundation/jquery.foundation.alerts.js"></script>
	
	
  <!-- Application Javascript, safe to override -->
  <script src="{{ STATIC_PREFIX }}javascripts/foundation/app.js"></script>
  	<!-- Put this above your </body> tag -->
	<script type="text/javascript">
	  $(window).load(function() {
	    $('#slider').orbit();
	  });
	</script>