	<!-- Header and Nav -->
  
	  <div class="row">
	    <div class="three columns">
	      <h1><a href="/" alt="Ir al inicio" title="Ir al inicio"><img src="{{ STATIC_PREFIX }}images/davidvu_desarrolloweb_artistadigital_logo.png" alt="Logo" /></a></h1>
	    </div>
	    <div class="nine columns">
	      <ul class="nav-bar right">
	        <li><a href="/portafolio">Portafolio</a></li>
	        <li><a href="/pagina/acerca-de">Acerca de</a></li>
	        <li><a href="#">Plugins</a></li>
	        <li><a href="/pagina/contacto">Contacto</a></li>
	      </ul>
	    </div>
	    <div class="twelve columns">
	    	<hr />
	    </div>
	  </div>
	  
	<!-- End Header and Nav -->