{% extends "website/base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}	

{% block title %}
{{ page.title }} David Velásquez | {% trans "Desarrollador web" %} - dJango - Cakephp | {% trans "Modelador 3D" %} 
{% endblock %}

{% block description %}
{% trans "Mi nombre es David Velásquez y soy desarrollador web freelance. Programo en HTML5, PHP, Python, CSS y aprovecho mucho el uso de librerías y frameworks como CakePHP, Django, jQuery, Modernizr... que agilizan el trabajo. También me dedico al modelado y la animación 3D usando Blender." %}
{% endblock %}

{% block content %}
	<h3>
		{% if LANGUAGE_CODE == 'en' %}
			{{ page.title_en }}
		{% else %}
			{{ page.title }}
		{% endif %}
	</h3>
	<div id="page-content">
		{% if LANGUAGE_CODE == 'en' %}
			{{ page.body_en|safe }}
		{% else %}
			{{ page.body|safe }}
		{% endif %}
		
	</div>
	{% if form %}
		{% if error_message %}<div class="error"><strong>{{ error_message }}</strong></div>{% endif %}
		<div id="contact-form">
			<form action="{% url page-detail 'contacto' %}" method="post">{% csrf_token %}
				{{ form.as_p }}
				<input type="submit" value="Submit" />
			</form>
		</div>
	{% endif %}
{% endblock %}