{% extends "website/base.html" %}
{% load i18n %}	

{% block title %}
{% trans "Portafolio David Velásquez :: Desarrollo web :: Modelado y animación 3D" %}
{% endblock %}

{% block description %}
{% trans "Serie de proyectos tanto de desarrollo web como de modelado 3D que he realizado durante los últimos años." %}
{% endblock %}

{% block content %}
	<h3>{% trans "Portafolio desarrollo web y modelado 3D" %}</h3>
	<p>
		{% trans "Serie de proyectos tanto de desarollo web como de modelado 3D que he realizado durante varios años de continuo aprendizaje, siempre tratando de ser efectivo y organizado. Usando adecuadamente la cantidad necesaria de etiquetas HTML para obtener un buen" %} <b>SEO</b>. {% trans "Si te interesa trabajar conmigo, por favor no lo dudes" %}, <a href="mailto:david@davidvu.co">{% trans "estoy disponible para trabajo freelance" %}</a>
	</p>
	{% if all_companies %}
		<div id="portfolio-list">
			<h4>{% trans "Desarrollos web" %}</h4>
		    {% for company in all_companies %}
		    
				{% if forloop.counter0|divisibleby:"4" %}
					<div class="row">
				{% endif %}
				
			    	<div class="three columns height {% if forloop.last %} end {% endif %}">
			    		<div class="portfolio-preview">
				        	<a class="bw" href="{% url portfolio-detail company.slug %}" title="{% trans 'Ver desarrollo' %} {{ company.company_name }}">
				        		<img src="{{ company.image_set.all.0.thumb.url }}" alt="{{ company.image_set.all.0.name }}" />
				        	</a>
				        	<p class="company-name">
				        		<a href="{% url portfolio-detail company.slug %}" title="{% trans 'Ver desarrollo' %}">
				        			{{ company.company_name }}
				        		</a>
				        	</p>
				        </div>
			        </div>
			        
			    {% if forloop.counter|divisibleby:"4" %}  
			    	</div>
			    {% endif %}
			    
			    {% if forloop.last and not forloop.counter|divisibleby:"4" %}  
			    	</div>
			    {% endif %}
			    
			{% endfor %}
			
			<h4>3D</h4>
			{% for company in all_models %}
		    
				{% if forloop.counter0|divisibleby:"4" %}
					<div class="row">
				{% endif %}
				
			    	<div class="three columns height {% if forloop.last %} end {% endif %}">
			    		<div class="portfolio-preview">
				        	<a class="bw" href="{% url portfolio-detail company.slug %}" title="{% trans 'Ver modelo 3D' %} {{ company.company_name }}">
				        		<img src="{{ company.image_set.all.0.thumb.url }}" alt="{{ company.image_set.all.0.name }}" />
				        	</a>
				        	<p class="company-name">
				        		<a href="{% url portfolio-detail company.slug %}" title="{% trans 'Ver modelo 3D' %}">
				        			{{ company.company_name }}
				        		</a>
				        	</p>
				        </div>
			        </div>
			        
			    {% if forloop.counter|divisibleby:"4" %}  
			    	</div>
			    {% endif %}
			    
			    {% if forloop.last and not forloop.counter|divisibleby:"4" %}  
			    	</div>
			    {% endif %}
			    
			{% endfor %}
			
		</div>	
	{% else %}
	    <p>{% trans "No hay portafolio disponible." %}</p>
	{% endif %}
{% endblock %}