{% extends "website/base.html" %}
{% load i18n %}	

{% block title %}
{% trans "Portafolio" %} :: {{ company.company_name }}
{% endblock %}

{% block description %}
{% trans "Muestra del desarrollo" %} {{ company.company_name }} 
{% endblock %}

{% block content %}

	<div class="row portfolio-header">
		<div class="seven columns">
			<h3>{{ company.company_name }}</h3>
		</div>
		<div class="five columns text-right url">
			{% trans "Visitar sitio" %}: <a href="{{ company.url }}" title="{% trans 'Visitar sitio' %} {{ company.company_name }}" target="_target">{{ company.url }}</a>
		</div>
	</div>
	<hr />
	<br />
	<div class="row description">
		<div class="eight columns">
			<img src="{{ MEDIA_PREFIX }}{{ company.image_set.all.0.image }}" />
			<div class="thumbs">
				{% for image in company.image_set.all %}
					<a href="{{ MEDIA_PREFIX }}{{ image.image }}" alt="{{ image.name }}" title="{% trans 'Ver imagen' %}">
						<img src="{{ image.thumb.url }}" alt="{{ image.name }}"/>
					</a>
				{% endfor %}
			</div>
		</div>
		<div class="four columns">
			<h4>{% trans "Mi trabajo" %}</h4>
			{{ company.description|safe }}
			<h4>{% trans "Año" %}</h4>
			{{ company.year }}
			<br /><br />
			<h4>{% trans "Diseño" %}</h4>
			{{ company.design }}
			<br /><br />
		</div>
	</div>

{% endblock %}