{% extends "website/base.html" %}
{% load i18n %}
	

{% block title %}
{% trans "Portafolio" %} :: {{ company.company_name }}
{% endblock %}

{% block description %}
{% trans "Muestra del desarrollo" %} {{ company.company_name }} 
{% endblock %}


{% block content %}


	<div class="row portfolio-header">
		<div class="seven columns">
			<h3>{{ company.company_name }}</h3>
		</div>
		<div class="five columns text-right url">
			{% if company.category.name == 'Web' %}
				{% trans "Visitar sitio" %}: <a href="{{ company.url }}" title="{% trans 'Visitar sitio' %} {{ company.company_name }}" target="_target">{{ company.url }}</a>
			{% endif %}
			
		</div>
	</div>
	<hr />
	<br />
	<div class="row description">
		<div class="eight columns big-image">
			<div class="image-wrapper">
				<img src="{{ STATIC_PREFIX }}images/blank.gif" alt="image reset"/>
			</div>
			<!-- <img src="{{ MEDIA_PREFIX }}{{ company.image_set.all.0.image }}" />  -->
			<div class="thumbs hide-for-small">
				{% for image in company.image_set.all %}
					<!-- <a href="{{ MEDIA_PREFIX }}{{ image.image }}" alt="{{ image.name }}" title="{% trans 'Ver imagen' %}">  -->
						<img src="{{ image.thumb.url }}" alt="{{ image.name }}" rel="{{ MEDIA_PREFIX }}{{ image.image }}" />
					<!-- </a>  -->
				{% endfor %}
			</div>
		</div>
		<div class="four columns">
			<h4>{% trans "Mi trabajo" %}</h4>
			{% if LANGUAGE_CODE == "en" %}
				{{ company.description_en|safe }}
			{% else %}
				{{ company.description|safe }}
			{% endif %}
			<h4>{% trans "Año" %}</h4>
			{{ company.year }}
			<br /><br />
			{% if company.category.name == 'Web' %}
				<h4>{% trans "Diseño" %}</h4>
				{{ company.design }}
			{% endif %}
			<br /><br />
		</div>
	</div>

{% endblock %}