/* -------------------------------------------------- 
   Tabla de contenido
-----------------------------------------------------
:: Estilos compartidos
:: Inicio
:: Portafolio
:: Errores
:: Media Queries

*/

/* -----------------------------------------
   Estilos compartidos
----------------------------------------- */

body{
	background: url(../images/bg.gif);
	font-family: 'Maven Pro', sans-serif;
}
h1, h2, h3, h4, h5{
	font-family: 'Amaranth',sans-serif;
}
p{
	font-family: 'Maven Pro', sans-serif;
}
hr{
	border-color: rgba(240, 126, 0, 0.4);
	margin: 10px 3px;
}

#nav{
	float: right;
	
	a{
		-webkit-transition:text-shadow 0.5s ease-in-out;
	       -moz-transition:text-shadow 0.5s ease-in-out;
	         -o-transition:text-shadow 0.5s ease-in-out;
	        -ms-transition:text-shadow 0.5s ease-in-out;
	            transition:text-shadow 0.5s ease-in-out;    
	    
	    text-shadow: 0px 0px 0px $naranja;
	     
		&.active{
			text-shadow: 0px 0px 2px $naranja;
		}
		
		&:hover{
			color: #000 !important;
		}
	}
	
	li.lang{
		background: $white;
		
		-webkit-transition: 1s;
		   -moz-transition: 1s;
		        transition: 1s;
		
		-webkit-border-radius: 18px;
		   -moz-border-radius: 18px;
		        border-radius: 18px;
		
		height: 38px;
		width: 38px;
		
		&:hover{
			-webkit-border-radius: 0px;
		  	   -moz-border-radius: 0px;
		   	        border-radius: 0px;
		}
		
		a{
			padding:0 11px;
		}
	}
}

#footer-container{
	background: url(../images/bg_footer.png);
	margin-top: 40px;
	
	p,
	h4{
		color: #fff;
	}
	
	a{
		color: $grisClaro;
		
		&:hover{
			color: #fff;
		}
	}
	
	span{
		color: $naranja;
	}
	
	footer{
		border-top: 1px solid $grisClaro;
		padding-top: 20px;
	}
	
}
#nav-footer{
	float: right;
}
.social{
	
	ul.link-list{
		margin: 27px 0;
		height: 40px;
		
		li{
			float: right;
			line-height: 38px;
			margin-left: 0;
		}
	}
}

/* -----------------------------------------
   Inicio
----------------------------------------- */

.frase{
	border-bottom: 1px solid $naranja;
	border-top: 1px solid $naranja;
	margin-bottom: 30px;
	
	h1{
		font-size: 2.5em;
		text-align: center;
		
		span{
			color: $naranja;
		}
	}
}

/* -----------------------------------------
   Portafolio
----------------------------------------- */

#portfolio-list{

	.portfolio-preview{
		background: rgba(240, 126, 0, 0.2);
		border:1px solid $naranja;
		margin-bottom: 10px;
		padding: 5px;
		text-align: center;

		-webkit-transition: 1s;
		-moz-transition: 1s;
		transition: 1s;
	
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
		
		
		&:hover{
			border:1px solid $white;

			-webkit-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px $naranja;
			   -moz-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px $naranja;
			        box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px $naranja;
		
			-webkit-border-radius: .5em;
			   -moz-border-radius: .5em;
			        border-radius: .5em;
		}
		
		p.company-name{
			margin-bottom: 0;
			text-align: center;
			text-transform: uppercase;
			text-shadow: 1px 0px 0 $white;
			
			a{
				//color: $white;
			}
		}
		.bw{
			position: relative;
			display: block;
		}
	}
}

.portfolio-header{
	h3{
		margin: 0;
	}	
	
	.url{
		margin-top: 7px;
	}
}

.description{
	h4{
		margin: 0;
	}
	
	
	.thumbs{
		margin-top: 10px;

		&:hover{
			cursor: pointer;
		}
		
		img{
			background: rgba(240, 126, 0, 0.2);
			border:1px solid $naranja;
			margin-bottom: 10px;
			padding: 5px;
			width: 208px;
		}		
	}
}
.big-image{
	margin-bottom: 20px;
}
img.thumb-active{
	border: 1px solid $white !important;
}

/* -----------------------------------------
   Errores
----------------------------------------- */
.error{
	background: #ffcc00;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -ms-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#E6B800));
	background-image: -webkit-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -o-linear-gradient(top, #ffcc00, #E6B800);
	background-image: linear-gradient(top, #ffcc00, #E6B800);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin-bottom: 18px;
	padding: 7px 14px;
	color: #404040;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
ul.errorlist{
	list-style: none;
	
	li{
		clear: both;
		color: #c43c35;
	}
}


/* -----------------------------------------
   Media Queries
----------------------------------------- */

@media only screen and (min-width: 1024px) {
	#logo{
		opacity: 0.6;
	}
	#nav a{
		opacity: 0.7;
	}
	#portfolio-list{
		.height{
			height: 190px;
		}
		
		.portfolio-preview{
			height: 152px;
			overflow: hidden;
		}
	}

	.bw{
		-webkit-transition: all 1s ease;
           -moz-transition: all 1s ease;
             -o-transition: all 1s ease;
            -ms-transition: all 1s ease;
                transition: all 1s ease;
		
		-webkit-filter: grayscale(100%);
		
		&:hover{
			-webkit-filter: grayscale(0%);
		}
	}
}
@media only screen and (max-width: 1023px) {
	
	.thumbs{
		img{
			width: 238px !important;
		}		
	}
	
}


@media only screen and (max-width: 767px) {
	footer{
		text-align: center;
	}
	#logo{
		text-align: center;
	}
	#nav{
		float: none;
		text-align: center;
	}
	#nav-footer{
		float: none;
		
		li{
			float: none; display: inline-block;
		}
	}
	
	.social{
		position: absolute;
		top: 5px;
		right: 10px;
	}

	.url{
		text-align: left;
	}

	#portfolio-list{
	
		.portfolio-preview{
			background: none;
			border: none;

			&:hover{
				border: none;
			}
		}
	}
	
}
@media only screen and (max-width: 480px) {
	
	.frase{
		
		h1{
			font-size: 1.8em;
		}
	}
	
	.social{
		display: none;
	}
	
}
@media only screen and (max-width: 320px) {
	#nav{
		a{
			&:hover{
				color: $white !important;
			}
		}
	}
	
	.frase{
		
		h1{
			font-size: 1.4em;
		}
	}
}

